nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #28334aff;
    color: #ffffff;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

@media (max-width: 768px) {
    nav{
        padding: 10px;
        font-size: 12px;
        height: 50px;
    }
    h3{
        font-size: 18px;
    }
}